<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <div class="logo1 lg"><img src="/images/logo1.png" alt=""></div>
      <a class="navbar-brand nv" id="navbar-brand" href="/">COMPLAINTS FORUM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nba">
          <li class="nav-item">
            <a class="nav-link nl"href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nl" href="/complaints">ALL COMPLAINTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nl" href="/complaints/new">RAISE A COMPLAINT</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <% if(!currentUser) { %>
          <li class="nav-item">
            <a href="/google/login" class="nav-link btn-success(min-width:992px) glbt(min-width:992px)"><img src="https://accounts.google.com/favicon.ico" alt="" width="24" height="24"> Sign In</a>
          </li>
          <!--
          <li class="nav-item">
            <a href="/register" class="nav-link">Register</a>
          </li>
          -->
          <% } else { %>
            <li>
              <img src="<%= currentUser.picture %>" class="profile-img" referrerpolicy="no-referrer"/>
            </li>
          <li class="nav-item">
            <a href="/" class="nav-link"> <%= currentUser.username %></a>
          </li>   
          <li class="nav-item">
            <a href="/google/logout" class="nav-link">Logout</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>