<% layout("layouts/boilerplate.ejs") -%>
<!-- <section class="introsection ">
    <div class="container cm titleBack">
        <h1 class="h1">SMVDU</h1>
        <h1 class="h1">Complaints forum </h1>
    </div>
</section> -->
<section id="first">
<div class="row">
    <div class="col-lg-6 head">
      <h1><strong>We want to make sure <span style="color:#ffa205">your voice is heard</span>.</strong></h1>
    </div>
    <div class="col-lg-6">
        <img class="present-block-img" src="/images/present-img.svg"> </img>
    </div>
  </div>
</div>
</section>

<section id="features">
  <div class="container-fluid">
  <div class="row">
    <div class="smth col-lg-4">
  <i class="fa-solid fa-circle-check icon"></i>
  <h3>Easy to use.</h3>
  <p>So easy to use, even your dog could do it.</p>
</div>
<div class="smth col-lg-4">
  <i class="fa-solid fa-bullseye icon"></i>
  <h3>Speak your mind.</h3>
  <p>Make valid complaints without hesitation.</p>
</div>
<div class="smth col-lg-4">
  <i class="fa-solid fa-heart icon"></i>
  <h3>Loren epsum</h3>
  <p>yolyoyolyoylyooyloo</p>
</div>
</div>
</section>

<section id="cta">
  <div class="container-fluid">
  <h2 class="contact-me">Contact Details of Hostel Caretakers</h2>
  <div class="row">
    <div class="col-lg-6">
        <p><i class="fa-solid fa-phone"></i>
<span>Vindhyanchal Hostel</span> :1234235</p>
        <p><i class="fa-solid fa-phone"></i>
<span>Basholi Hostel</span> :1234235</p>
        <p><i class="fa-solid fa-phone"></i>
<span>Trikuta Hostel</span> :1234235</p>
        <p><i class="fa-solid fa-phone"></i>
<span>Kailash Hostel</span> :1234235</p>
        <p><i class="fa-solid fa-phone"></i>
<span>Nilgiri Hostel</span> :1234235</p>
    </div>
    <div class="col-lg-6">
        <p><i class="fa-solid fa-phone"></i>
<span>Shivalik Hostel</span> :1234235</p>
        <p><i class="fa-solid fa-phone"></i>
<span>Administration block</span> :1234235</p>
        <p><i class="fa-solid fa-phone"></i>
<span>Vaishnavi Hostel</span> :1234235</p>
        <p><i class="fa-solid fa-phone"></i>
<span>Campus Security</span> :1234235</p>
    </div>
  </div>
</div>
</section>

    